@tailwind base;
@tailwind components;
@tailwind utilities;
nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.auth-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 2rem;
}

.amplify-button--primary {
    position: absolute;
    width: 1000px;
    height: 1000px;
    background-color: #403b66 !important;
    top: 0;
    bottom: 0;
    z-index: 9999;
    color: red;
}

.hide-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.DialogOverlay[data-state='open'],
.DialogContent[data-state='open'] {
    animation: fadeIn 600ms ease-out;
}

.DialogOverlay[data-state='closed'],
.DialogContent[data-state='closed'] {
    animation: fadeOut 600ms ease-in;
}
